version: "3.9"

services:
  api:
    build:
      context: .
    container_name: person_api
    ports:
      - "5000:5000"
    env_file:
      - .env
    volumes:
      - .:/src
    depends_on:
      - postgres

  postgres:
    image: postgres:16
    container_name: person_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: person
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
